  /*CSS VARIABLES*/
  

  :root {
    --light-color: #FAFAFE;
    --dark-color: #252525;
    --highlight-color: #234AD5;
    --shadow-color: #F3F3F5;
    --secondary-shadow-color: #E6E6ED;

    --font: "Inter", sans-serif;

    --size-xxxxxxxxs: .25rem; /*done*/
    --size-xxxxxxxs: .5rem; /*done*/
    --size-xxxxxxs: .875rem; /*done*/
    --size-xxxxxs: 1rem;
    --size-xxxxs: 1.25rem; /*done*/
    --size-xxxs: 1.5rem; /*done*/
    --size-xxs: 1.75rem; /*done*/
    --size-xs: 1.875rem; /*done*/
    --size-s: 2rem; /*done*/
    --size-m: 2.5rem; /*done*/
    --size-l: 3rem; /*done*/
    --size-xl: 3.25rem; /*done*/
    --size-xxl: 4rem; /*done*/
    --size-xxxl: 4.5rem; /*done*/
    --size-xxxxl: 5rem; /*done*/
    --size-xxxxxl: 6rem; /*done*/
    --size-xxxxxxl: 10rem; /*done*/
  }
  
  
  
  
  
  /*CSS*/
  
  html {
    background-color: var(--light-color);
    font-family: sans-serif;
    scroll-behavior: smooth;
  }

  * {
    box-sizing: border-box;
  }

  iframe {
    width: 100%;
    height: 700px;
    padding: var(--size-m) 0;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    padding: var(--size-xxxxxs);
    max-width: 1200px;
    line-height: 1.5;
  }

  header {
    position: sticky;
    top: 0;
    padding: var(--size-xxxxxs) var(--size-xxxxxxxxs);
    background-color: var(--light-color);
    z-index: 1;
  }

  .headline {
    width: 100%;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  section {
    padding: var(--size-m) 0;
  }

  main {
    padding: var(--size-xxl) 0;
  }

  li,
  summary {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  ol {
    padding: 0;
  }

  img {
    border-radius: var(--size-xxxxxxxs);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  summary {
    border-bottom: solid;
  }

  details summary::-webkit-details-marker {
    display:none;
  }

  details {
    transition: height .5s ease;
    overflow: hidden;
  }

  details:not([open]) {
     height: var(--size-xxxxxl);
  }

  details[open] {
     height: 27rem;
    }



  /*FONTS*/

  .logo,
  .nav-links a,
  footer a {
    margin: 0;
    color: var(--dark-color);
    font-size: var(--size-xxs);
    font-weight: 300;
  }

  .otherprojects a {
    color: var(--dark-color);
  }

  footer div {
    display: flex;
    gap: var(--size-s);
  }

  a {
    text-decoration: none;
  }

  .nav-links a:hover,
  .nav-links a:focus,
  a,
  details:focus,
  details:hover,
  summary h3:focus,
  summary h3:hover,
  footer a:focus,
  footer a:hover,
  .logo:focus,
  .logo:hover,
  .otherprojects a:focus,
  .otherprojects a:hover {
    color: var(--highlight-color);
  }

  .nav-links a,
  a,
  details,
  summary h3,
  footer a,
  .logo {
    cursor: pointer;
    transition: all .5s;
  }

  .logo{
    font-weight: bold;
  }

  .inter {
    font-family: var(--font);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

  h1, h2, h3, p, .notes li, .tags p, li, a
   {
    font-family: var(--font);
    color: var(--dark-color);
    font-weight: 300;
  }
  
  h1 {
    font-weight: 500;
    font-size: var(--size-l);
    line-height: 110%;
    letter-spacing: -2px;
    margin: 0;
    padding: var(--size-xxxxxs) 0;
  }

  h2 {
    font-size: var(--size-s);
    line-height: 110%;
    letter-spacing: -2px;
    margin: 0;
    padding: var(--size-xxxxxs) 0;
  }

  h3 {
    font-size: var(--size-xxxs);
    line-height: 110%;
    margin: 0;
    padding: var(--size-xxxs) 0;
  }

  p,
  li {
    font-size: var(--size-xxxxs);
  }

  .tags {
    display: flex;
    column-gap: var(--size-xxxxxxxs);
    white-space: nowrap;
    position: relative;
    padding: var(--size-xxxs) 0;
    overflow: scroll;
  }

  .tags::-webkit-scrollbar {
    -webkit-appearance: none;
      width: 0;
      height: 0;
  }

  .notes li,
  .tags p {
    font-size: var(--size-xxxxxxs);
  }
  
  .tags p {
    margin: 0;
    padding: var(--size-xxxxxxxxs);
    border-radius: var(--size-xxxxxxxxs);
    background-color: var(--shadow-color);
  }

  .cta {
    display: block;
    border: none;
    border-radius: var(--size-xxxxxxxxs);
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: var(--size-xxxxxs);
    font-size: var(--size-xxxxxs);
    text-align: center;
  }

  .cta:focus,
  .cta:hover {
    background-color: var(--highlight-color);
  }


  /* MAIN NAV MOBILE*/

  /*hamburger style*/

.hamburger {
  margin-top: var(--size-xxxxxxxs);
  cursor: pointer;
  justify-items: flex-end;
  flex-direction: column;
  gap: var(--size-xxxxxxxxs);
}

.hamburger .line {
  background-color: var(--dark-color);
  width: var(--size-xs);
  height: var(--size-xxxxxxxxs);
  display: flex;
  justify-content: flex-end;
}

  /* nav behaviour */

nav {
  display: flex;
  justify-content: space-between;
}

nav div {
  display: flex;
  flex-direction: column;
}

.nav-links {
  width: 100%;
  display: none;
  padding: var(--size-xxxxl) 0;
}

.nav-links a {
  display: flex;
  align-self: center;
}

.expanded {
  display: unset;
}






 /* CASE STUDIES */

.description p {
  font-size: var(--size-xxxxxs);
  margin: 0;
}

.description {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--size-xxxxxs);
}

.casestudies {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
}

.casestudies li {
  margin-bottom: var(--size-xxxxxxxs);
  display: flex;
  flex-direction: column;
  gap: var(--size-xxxxxs);
}

.casestudies li,
.case_studies_content_2columns,
.case_studies_content_1column,
.otherprojects li {
  padding: var(--size-xxxxxs);
  background-color: var(--shadow-color);
  border-radius: var(--size-xxxxxxxs);
} 

.casestudies .tags {
  display: flex;
  gap: var(--size-xxxxxs);
  overflow: scroll;
}

.casestudies .tags p {
  padding: var(--size-xxxxxxxs);
  font-size: var(--size-xxxxxxs);
  background-color: var(--secondary-shadow-color);
}

.casestudies li img {
  transition: 1s;
}






/* OTHER PROJECTS */

.otherprojects {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--size-m);
}

.otherprojects li {
  display: flex;
  flex-direction: column;
  gap: var(--size-xxxxxs);
}

.otherprojects p {
  margin: 0;
}

.otherprojects li img {
  height: 150px;
}



/* MISC */

.misc {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--size-xxxxxxxs);
}

.misc li {
  grid-column: span 2;
}



  /*CASE STUDIES PAGE*/
  
  .notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--size-xxxs);
    margin: var(--size-xxxs) 0;
  }

  .case_studies_content_2columns,
  .case_studies_content_1column {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: var(--size-m);
    align-items: center;
    margin: var(--size-s) 0;
  } 

  .case_studies_content_1column .casestudies li {
    padding: 0;
  }

  .prototype img {
    margin-bottom: var(--size-xxxxxxxs);
  }



/* MISC PAGE */

.misc_page_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-xxxxxxxs);
}

.misc_page_grid img,
.misc li img {
aspect-ratio: calc(1);
}



/*ABOUT PAGE*/

.about_page_grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--size-xxxxxs);
}


 /* MEDIA QUERIES */

 /* mobile large */

 @media screen and (min-width: 400px) {


  .hamburger {
    margin-top: 11px;
    gap: 6px;
  }

}



 /* desktop */

@media screen and (min-width: 750px) {

  body {
    padding: 0;
  }

  header {
    padding: var(--size-s) var(--size-m);
  }

  main,
  footer {
    padding: var(--size-xxxxxxl) var(--size-m) var(--size-xxxxxxl) var(--size-xxxxl);
  }

  .headline {
    width: 70%;
  }

  h1 {
    font-size: var(--size-xxxl);
  }

  h2 {
    font-size: var(--size-m);
  }

  h3 {
    font-size: var(--size-xxxs);
  }

  
  a,
  .nav-links a,
  footer a,
  .logo {
    font-weight: 300;
    font-size: var(--size-xxxxs);
  }

  .logo {
    font-weight: bold;
  }

  .cta {
    padding: var(--size-xxxxxs) var(--size-xxxs);
    width: fit-content;
  }

  details:not([open]) {
    height: var(--size-xxxxxl);
  }

  details[open] {
    height: 30rem;
   }






  nav div {
    flex-direction: row;
    align-items: flex-end;
    gap: var(--size-xxxxxs);
  }
  

  .nav-links {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 var(--size-xxxs);
    padding-top: 0;
  }

  .hamburger {
    display: none;
  }





  
  .casestudies {
    counter-reset: my-awesome-counter;
    gap: var(--size-xxxs);
  }

  .casestudies .tags p {
    padding: var(--size-xxxxxxxs);
    font-size: .8rem;
    background-color: var(--shadow-color);
  }


  .casestudies li {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    counter-increment: my-awesome-counter;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    overflow: hidden;
    transition: all 1s;
  }

  .casestudies li::before {
    content: "0" counter(my-awesome-counter);
    font-size: var(--size-xl);
    font-weight: 300;
    text-align: end;
  }

  .casestudies li img {
    height: var(--size-xxxxxxl);
    grid-column: 2 / 7;
    transition: 1s;
  }

  .casestudies li figcaption {
    grid-column: 7 / 11;
    display: flex;
    flex-direction: column;
    transition: 1s;
  }

  .description {
    margin-top: 0px;
    top: 0;
    height: 0;
    overflow: hidden;
    transition: all 1s;
  }

  .casestudies li:hover .description {
    height: 200px;
    width: 100%;
    margin-top: var(--size-xxxs);
  }

  .casestudies li:hover img {
    height: 520px;
  }



  .otherprojects {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--size-xxxxxxxs);
    width: 94%;
  }

  .otherprojects li img {
    height: 200px;
  }

  .otherprojects li {
    padding: 0;
    background-color: transparent;
    width: 20.5%;
    transition: all 1s;
  }

  .otherprojects li:hover {
    width: 42%;
  }



  /* MISC */

  .misc {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: var(--size-xxxxxxxs);
  }

  .misc li {
    grid-column: span 2;
  }



  /*CASE STUDIES PAGE*/
  
  .notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--size-xxxs);
    margin: var(--size-xxxs) 0;
  }

  .case_studies_content_2columns {
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--size-xxxxl);
  }

  .case_studies_content_2columns,
  .case_studies_content_1column {
    padding: var(--size-s);
  }

  

  /* MISC PAGE */

  .misc_page_grid {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-xxxs);
  }

  .about_page_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-xxxs);
  }


  /* FOOTER */

  footer {
    padding: var(--size-m);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  footer p {
    margin: 0;
  }

}



/*desktop large*/

@media screen and (min-width: 1000px) {
  
  details[open] {
    height: 20rem;
  }

}


  