  html {
    background-color: #FAFAFE;
    font-family: sans-serif;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    max-width: 1200px;
    line-height: 1.5;
  }

  .headline {
    width: 100%;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  section {
    padding: 2.5rem 0;
  }

  main {
    padding: 4rem 0;
  }

  li,
  summary {
    list-style: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  ol {
    padding: 0;
  }

  img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  summary {
    border-bottom: solid;
  }

  details {
    transition: height .5s ease;
    overflow: hidden;
  }

  details:not([open]) {
     height: 6rem; 
  }

  details[open] {
     height: 27rem;
    }



  /*FONTS*/

  .logo,
  .nav-links a,
  footer a {
    margin: 0;
    color: #252525;
    font-size: 1.75rem;
    font-weight: 300;
  }

  a {
    text-decoration: none;
  }

  .nav-links a:hover,
  .nav-links a:focus,
  a,
  details,
  summary h3 {
    color: #234AD5;
  }

  .logo{
    font-weight: bold;
  }

  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

  h1, h2, h3, p, .notes li, .tags p
   {
    font-family: "Inter", sans-serif;
    color: #252525;
    font-weight: 300;
  }
  
  h1 {
    font-weight: 500;
    font-size: 3rem;
    line-height: 110%;
    letter-spacing: -2px;
    margin: 0;
    padding: 1rem 0;
  }

  h2 {
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: -2px;
    margin: 0;
    padding: 1rem 0;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 110%;
    margin: 0;
    padding: 1.5rem 0;
  }

  p,
  li {
    font-size: 1.25rem;
  }

  .tags {
    display: flex;
    column-gap: .5rem;
    white-space: nowrap;
    position: relative;
    padding: 1.5rem 0;
  }

  .notes li,
  .tags p {
    font-size: .875rem;
  }
  
  .tags p {
    margin: 0;
    padding: 4px;
    border-radius: 4px;
    background-color: #F3F3F5;
  }

  .cta {
    display: block;
    border: none;
    border-radius: 4px;
    background-color: #252525;
    color: #FAFAFE;
    padding: 16px;
    font-size: 1rem;
    text-align: center;
  }


  /* MAIN NAV MOBILE*/

  /*hamburger style*/

.hamburger {
  margin-top: 8px;
  cursor: pointer;
  justify-items: flex-end;
  flex-direction: column;
  gap: 4px;
}

.hamburger .line {
  background-color: #252525;
  width: 30px;
  height: 4px;
  display: flex;
  justify-content: flex-end;
}

  /* nav behaviour */

nav {
  display: flex;
  justify-content: space-between;
}

nav div {
  display: flex;
  flex-direction: column;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 80px 0;
}

.nav-links a {
  display: flex;
  align-self: center;
}

.expanded {
  display: unset;
}






 /* CASE STUDIES */

.description p {
  font-size: 1rem;
  margin: 0;
}

.description {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
}

.casestudies {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.casestudies li {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.casestudies li,
.case_studies_content_2columns,
.case_studies_content_1column {
  padding: 1rem;
  background-color: #F3F3F5;
  border-radius: .5rem;
} 

.casestudies .tags {
  display: flex;
  gap: 1rem;
  overflow: scroll;
  scrollbar-width: none;
}

.casestudies .tags p {
  padding: .5rem;
  font-size: .8rem;
  background-color: #E6E6ED;
}

.casestudies li img {
  transition: 1s;
}






/* OTHER PROJECTS */

.otherprojects {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.otherprojects li {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.otherprojects p {
  margin: 0;
}



/* MISC */

.misc {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.misc li {
  grid-column: span 2;
}



  /*CASE STUDIES PAGE*/
  
  .notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    margin: 1.5rem 0;
  }

  .case_studies_content_2columns,
  .case_studies_content_1column {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2.5rem;
    align-items: center;
    margin: 2rem 0;
  } 

  .case_studies_content_1column .casestudies li {
    padding: 0;
  }



/* MISC PAGE */

.misc_page_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}



/*ABOUT PAGE*/

.about_page_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}


 /* MEDIA QUERIES */

 /* mobile large */

 @media screen and (min-width: 400px) {


  .hamburger {
    margin-top: 11px;
    gap: 6px;
  }

}



 /* desktop */

@media screen and (min-width: 750px) {

  body {
    padding: 0;
  }

  header {
    position: sticky;
    top: 0;
    padding: 2rem 2.5rem;
    background-color: #FAFAFE;
    z-index: 1;
  }

  main,
  footer {
    padding: 10rem 2.5rem 10rem 5rem;
  }

  .headline {
    width: 70%;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  
  a,
  .nav-links a,
  footer a,
  .logo {
    font-weight: 300;
    font-size: 1.25rem;
  }

  .logo {
    font-weight: bold;
  }

  .cta {
    padding: 16px 24px;
    width: fit-content;
  }

  details:not([open]) {
    height: 6rem; 
  }

  details[open] {
    height: 30rem;
   }






  nav div {
    flex-direction: row;
    align-items: flex-end;
    gap: 16px;
  }
  

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 24px;
  }

  .hamburger {
    display: none;
  }





  
  .casestudies {
    counter-reset: my-awesome-counter;
    gap: 24px;
  }

  .casestudies .tags p {
    padding: .5rem;
    font-size: .8rem;
    background-color: #F3F3F5;
  }


  .casestudies li {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    counter-increment: my-awesome-counter;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    overflow: hidden;
    transition: all 1s;
  }

  .casestudies li::before {
    content: "0" counter(my-awesome-counter);
    font-size: 3.5rem;
    font-weight: 300;
    text-align: end;
  }

  .casestudies li img {
    height: 160px;
    grid-column: 2 / 7;
    transition: 1s;
  }

  .casestudies li figcaption {
    grid-column: 7 / 11;
    display: flex;
    flex-direction: column;
    transition: 1s;
  }

  .description {
    margin-top: 0px;
    top: 0;
    height: 0;
    overflow: hidden;
    transition: all 1s;
  }

  .casestudies li:hover .description {
    height: 200px;
    width: 100%;
    margin-top: 24px;
  }

  .casestudies li:hover img {
    height: 520px;
  }



  .otherprojects {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 94%;
  }

  .otherprojects li img {
    height: 200px;
  }

  .otherprojects li {
    width: 20.5%;
    transition: all 1s;
  }

  .otherprojects li:hover {
    width: 42%;
  }



  /* MISC */

  .misc {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 8px;
  }

  .misc li {
    grid-column: span 2;
  }

  .misc_page_grid img,
  .about_page_grid img,
  .misc li img {
  aspect-ratio: calc(1);
  }



  /*CASE STUDIES PAGE*/
  
  .notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    margin: 1.5rem 0;
  }

  .case_studies_content_2columns {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
  }

  .case_studies_content_2columns,
  .case_studies_content_1column {
    padding: 2rem;
  }

  

  /* MISC PAGE */

  .misc_page_grid {
    grid-template-columns: repeat(3, 1fr);
  }



  /* FOOTER */

  footer {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  footer p {
    margin: 0;
  }

  footer div {
    display: flex;
    gap: 16px;
  }



  /*desktop large*/

  @media screen and (min-width: 1000px) {
  
    details[open] {
      height: 20rem;
     }

  }