---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Case Study";
---
<BaseLayout pageTitle={pageTitle}>
<main>
<h1>FBAUL Alumni Hub</h1>
<div class="tags">
    <p>UX Research</p>
    <p>Wireframing</p>
    <p>Website</p>
</div>

<h2>A space dedicated to strengthening the relationship between FBAUL and their alumni.</h2>

<ol>
    <li>Main Roles — Research, Wireframes</li>
    <li>Team Mates — Rita Costa, Sara Bicudo</li>
    <li>Time Frame — 7 weeks</li>
</ol>

<section class="text_img_columns">
        <div>
            <h2>Subtitle</h2>
            <p>The Faculty of Fine Arts of the University of Lisbon (or FBAUL for short) is the oldest higher education school of arts in Portugal.</p>
            <p>With more than 1500 students they offer bachelors, masters and doctorate degrees with majors in sculpture, painting, design, multimedia art etc.</p>
        </div>
        <img class="full_width_img" src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
</section>

<section class="text_img_columns">
        <img class="full_width_img" src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
        <div>
            <h2>Subtitle</h2>
            <p>The Faculty of Fine Arts of the University of Lisbon (or FBAUL for short) is the oldest higher education school of arts in Portugal.</p>
            <p>With more than 1500 students they offer bachelors, masters and doctorate degrees with majors in sculpture, painting, design, multimedia art etc.</p>
        </div>
</section>

<section class="text_text_columns">
    <h2>Briefing Breakdown</h2>
    <div>
        <p>We were given the task of developing concrete solutions to improve the user experience of the Alumni segment on the FBAULs website.</p>
        <p>Unlike other segments, there was no dedicated space on their platform for Alumni...</p>
    </div>
</section>

<section class="text_bullets_columns">
    <div>
        <h2>But... Why should FBAUL care?</h2>
        <p>A strong relationship between an institution and their alumni can be hugely beneficial to both of them...</p>
    </div>
    <ul>
        <li>
            <h3>Global Awareness ↗</h3>
            <p>Alumni provide positive awareness which boosts application rates and reduces the need for recruitment efforts.</p>
        </li>
        <li>
            <h3>Global Awareness ↗</h3>
            <p>Alumni provide positive awareness which boosts application rates and reduces the need for recruitment efforts.</p>
        </li>
        <li>
            <h3>Global Awareness ↗</h3>
            <p>Alumni provide positive awareness which boosts application rates and reduces the need for recruitment efforts.</p>
        </li>
        <li>
            <h3>Global Awareness ↗</h3>
            <p>Alumni provide positive awareness which boosts application rates and reduces the need for recruitment efforts.</p>
        </li>
    </ul>
</section>

<section class="text_bullets_columns">
    <div>
        <h2>Our discovery approach</h2>
        <p>This is how we we got the main insights that informed the development of our solution.</p>
    </div>
    <ul>
        <li>
            <h3>Global Awareness ↗</h3>
            <p>Alumni provide positive awareness which boosts application rates and reduces the need for recruitment efforts.</p>
        </li>
        <li>
            <h3>Global Awareness ↗</h3>
            <p>Alumni provide positive awareness which boosts application rates and reduces the need for recruitment efforts.</p>
        </li>
        <li>
            <h3>Global Awareness ↗</h3>
            <p>Alumni provide positive awareness which boosts application rates and reduces the need for recruitment efforts.</p>
        </li>
        <li>
            <h3>Global Awareness ↗</h3>
            <p>Alumni provide positive awareness which boosts application rates and reduces the need for recruitment efforts.</p>
        </li>
    </ul>
</section>

<p>Want to see our process in detail? Here are some of our Figjam boards</p>
<div class="tags">
    <p>UX Research</p>
    <p>Wireframing</p>
    <p>Website</p>
</div>


<img class="full_width_img" src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
</main>
</BaseLayout>