---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Case Study";
---
<BaseLayout pageTitle={pageTitle}>
<main>
<h1>FBAUL Alumni Hub</h1>
<div class="tags">
    <p>UX Research</p>
    <p>Wireframing</p>
    <p>Website</p>
</div>

<h3>A space dedicated to strengthening the relationship between FBAUL and their alumni.</h3>

<ol class="notes">
    <li>Main Roles — Research, Wireframes</li>
    <li>Team Mates — Amy Moraes, Mariana Elisa</li>
    <li>Time Frame — 7 weeks</li>
</ol>

<section>
    <img src="https://freight.cargo.site/t/original/i/522a8ee0a56b1ce75cf50ee66f7505b4c8fc76d4f9d6fec0278d92c4ccc788ac/FBAUL_Alumni_hub_Cover2.jpg"></img>
</section>

<section class="case_studies_content_2columns">
        <div>
            <h2>What is FBAUL?</h2>
            <p>The Faculty of Fine Arts of the University of Lisbon (or FBAUL for short) is the <strong>oldest higher education school of arts in Portugal.</strong></p>
            <p>With more than 1500 students they offer, <strong>masters and doctorate degrees with majors in sculpture, painting, design, multimedia art etc.</strong></p>
        </div>
        <img src="https://freight.cargo.site/t/original/i/d01d9b98511bb578ce7ce5ef0606d8f95876139691dbdeb207cb79fb2502ff44/FBAUL.jpg"></img>
</section>

<section class="case_studies_content_2columns">
        <img src="https://freight.cargo.site/t/original/i/2b4e762b20c240c9f8588c3d8c41034de3cc7f1180805c29470e0bfc13d78e27/FBAUL_website.jpg"></img>
        <div>
            <h2>The Product</h2>
            <p> <a href="url">belasartes.pt</a> is the institutional website of FBAUL. It aims to be the place where students, staff and potential candidates can access services, know about events related to the school and all information related to FBAUL.</p>
        </div>
</section>

<section class="case_studies_content_2columns">
    <h2>Briefing Breakdown</h2>
    <div>
        <p>We were given the task of developing concrete solutions to improve the user experience of the <strong>Alumni segment on the FBAULs website.</strong></p>
        <p>Unlike other segments, there was <strong>dedicated space on their platform for Alumni...</strong></p>
    </div>
</section>

<section class="case_studies_content_2columns">
    <div>
        <h2>But... Why should FBAUL care?</h2>
        <p>A strong relationship between an institution and their alumni can be hugely beneficial to both of them...</p>
    </div>
    <ul>
        <li>
        <details>
            <summary><h3>Global Awareness ↗</h3></summary>
            <p>Alumni provide positive awareness which boosts application rates and reduces the need for recruitment efforts.</p>
          </details>
        </li>
        <li>
            <details>
                <summary><h3>Increased Success ↗</h3></summary>
                <p>Supporting alumni improves their chances of having a successful career, which will boost FBAULs reputation.</p>
             </details>
        </li>
        <li>
            <details>
                <summary><h3>Mentorship ↗</h3></summary>
                <p>Alumni can be great role models for current students and are usual open to offer mentorship and career support.</p>
            </details>
        </li>
        <li>
        <details>
            <summary><h3>Loyalty ↗</h3></summary>
            <p>They are loyal to their institution and have the potential to become students again, or even staff.</p>
          </details>
        </li>
    </ul>
</section>

<section>
    <img src="https://freight.cargo.site/t/original/i/e386706d02dcfe4ab8418704805be8724d3bbeac2c147a49a76e4b33b0f582e9/Timeline.jpg"></img>
</section>

<section class="case_studies_content_2columns">
    <div>
        <h2>Our discovery approach</h2>
        <p>This is how we we got the main insights that informed the development of our solution</p>
    </div>
    <ul>
        <li>
        <details>
            <summary><h3>User Interviews ↗</h3></summary>
            <p>We interviewed 7 FBAUL alumni from different majors and education levels. We registered and organized their testimonies and later turned them into problem statements.</p>
          </details>
        </li>
        <li>
            <details>
                <summary><h3>User Survey ↗</h3></summary>
                <p>We conducted a survey with over 45 alumni of multiple background, schools, majors and education levels. We later cross analyzed the results and turned them into hypothesis.</p>
             </details>
        </li>
        <li>
            <details>
                <summary><h3>Benchmarking ↗</h3></summary>
                <p>We looked at 6 different Portuguese public and private schools to understand their approach to maintain a relationship with their alumni.</p>
            </details>
        </li>
    </ul>
</section>

<section class="case_studies_content_1column">
    <div>
        <h2>Want to see our process in detail?</h2>
        <p>Here are some of our Figjam boards</p>
    </div>
    <ol class="otherprojects">
        <li>
          <img src="https://freight.cargo.site/t/original/i/694aa4952fb99379fa1b7ae93b18fc42d96ccef395739ad9e6a90e58f533b882/userinterviews.jpg"></img>
          <figcaption>
            <p>User Interviews</p>
          </figcaption>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/a58ad7010427b40329efa52e68bc870a53fb305f0783a8d307c61d1bf2860c63/usersurvey.jpg"></img>
          <figcaption>
            <p>User Survey</p>
          </figcaption>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/be5d7779c746d643504ce191c856b5d24adbcbef31ba4aabecbf766ad74bd84d/benchmarking.jpg"></img>
          <figcaption>
            <p>Benchmarking</p>
          </figcaption>
        </li>
      </ol>
</section>

<section class="case_studies_content_2columns">
    <div>
        <h2>Data Collection and Organising</h2>   
        <p>After organizing all the data collected from these research methods we started to get a grasp of the main pain points and needs of FBAUL alumni...</p>
    </div> 
    <img src="https://freight.cargo.site/t/original/i/7e3c71f3a78cb75058c4bf6e337f679430bf718d8d935c8e76f33021614d58b0/DataCollection.jpg"></img>
</section>

<section class="case_studies_content_1column">
    <h2>What were the insights that informed our solution?</h2>
    <ol class="casestudies">
        <li>
          <img src="https://freight.cargo.site/t/original/i/e78673ebf00c8426dbee7550e62e3a14e265109277543cae80b008185a345d11/ProblemStatements_1.jpg"></img>
          <figcaption>
            <h3>Lack of information for applicants</h3>
            <div class="description">
              <p>Candidates need to know the real benefits and experiences of being a student at FBAUL because it will help them asses if FBAUL is the right place to achieve their goals.</p>
              <p>Most candidates are aware that FBAUL is a “prestigious” place to study through alumni they have talked to.</p>
            </div>
          </figcaption>
        </li>
        <li>
            <img src="https://freight.cargo.site/t/original/i/6669eaeda4512c127896f8a7aea96eaacafddada19f774bb2859df7d87296919/ProblemStatements_2.jpg"></img>
            <figcaption>
              <h3>Lack of information about events</h3>
              <div class="description">
                <p>Alumni living in Lisbon need to know information about FBAUL events.</p>
                <p>Alumni living outside of Lisbon/Portugal need to be able to be involved in events just like other alumni, because they would be interested in participating in these events.</p>
              </div>
            </figcaption>
          </li>
          <li>
            <img src="https://freight.cargo.site/t/original/i/ee304a1830c54ec21c8ed5651321191108dffc9a54604d3f6be719aa4f4a534c/ProblemStatements_3.jpg"></img>
            <figcaption>
              <h3>Difficult access to important documents</h3>
              <div class="description">
                <p>All graduates need easy access to their diploma to officially prove they studied at FBAUL and get access to the job market, research opportunities, other courses etc as soon as they graduate.</p>
              </div>
            </figcaption>
          </li>
          <li>
            <img src="https://freight.cargo.site/t/original/i/b804a81ac703ebb4fd6cbf1d98531f4b03c0807539541f7c7949a65cc6c0fb68/ProblemStatements_4.jpg"></img>
            <figcaption>
              <h3>Lack of promotion of alumni work</h3>
              <div class="description">
                <p>Alumni developing projects need to see their work being recognized and represented by FBAUL because their work would have a bigger chance of being seen by the community.</p>
                <p>Alumni developing projects need a way to openly share their work with FBAUL because recognition from FBAUL, colleagues and teachers could bring new opportunities.</p>
              </div>
            </figcaption>
          </li>
          <li>
            <img src="https://freight.cargo.site/t/original/i/f1409a4c91b8f70c0c3ef3d3b06b08650ffc6e9bf8323e2634fa3298cead6c19/ProblemStatements_5.jpg"></img>
            <figcaption>
              <h3>Inexistent mentorship programs</h3>
              <div class="description">
                <p>Alumni would like to inspire other people, by sharing good professional experience with new students because it would give them a sense of belonging and recognition from FBAUL. </p>
              </div>
            </figcaption>
          </li>
          <li>
            <img src="https://freight.cargo.site/t/original/i/d3fd670f6237ea8bb7ae6346b99830c29614b54b15aaecc0b35a18a47fa38d3f/ProblemStatements_6.jpg"></img>
            <figcaption>
              <h3>Poor connection to the market</h3>
              <div class="description">
                <p>Recent Graduates need to have access to trustworthy employers because they are more vulnerable to precarious and exploitative companies, that are rampant in these fields.</p>
                <p>Recent Graduates need guidance and resources on how to build a portfolio that is up to industry standards.</p>
              </div>
            </figcaption>
          </li>
          <li>
            <img src="https://freight.cargo.site/t/original/i/a42e51ff49e0c2199d94fedb679057ba31585441b1c5912e83c3792f2094feea/ProblemStatements_7.jpg"></img>
            <figcaption>
              <h3>Weak connection to former classmates</h3>
              <div class="description">
                <p>Alumni who are interested in other fields of study need to be able to connect with students in other fields to build new connections.</p>
                <p>Alumni need a way to stay in contact with former classmates that doesn’t die down over time because contact with former classmates increasing their chances of a successful career.</p>
              </div>
            </figcaption>
          </li>
</section>

<section class="case_studies_content_2columns">
    <div>
        <h2>Prioritization of Needs</h2>   
        <p>After pinpointing our main problems we started to brainstorm their possible solutions. We then chose which of these solutions would be developed by order of priority.</p>
    </div> 
    <img src="https://freight.cargo.site/t/original/i/15eb48a7266b5c500b6026c60b66df1ce194a061ed47cae80fecc910ece4ee4d/prioritizationofneeds.jpg"></img>
</section>

<section>
    <img src="https://freight.cargo.site/t/original/i/522a8ee0a56b1ce75cf50ee66f7505b4c8fc76d4f9d6fec0278d92c4ccc788ac/FBAUL_Alumni_hub_Cover2.jpg"></img>
    <a class="cta" href="/fbaul_alumni_hub/">See Prototype</a>
</section>

<section class="case_studies_content_2columns">
    <div>
        <h2>Validating our solution with users</h2>   
        <p>We asked 11 participants to complete 3 simple tasks on our website based on our main journeys. </p>
    </div> 
    <ul>
        <li>
        <details>
            <summary><h3>Tasks ↗</h3></summary>
            <p>We started by asking our participants if they have ever user FBAULs website and how frequently. Then we asked them to perform 3 simples tasks: “log on to the website”, “find a mentor” and finally “find a job vacancy”.</p>
          </details>
        </li>
        <li>
            <details>
                <summary><h3>Metrics ↗</h3></summary>
                <p>To validate our solution we measured wether users were capable of successfully completing a task, how much time it took them to complete the task and if wether there were any miss clicks/misunderstandings.</p>
             </details>
        </li>
        <li>
            <details>
                <summary><h3>Results ↗</h3></summary>
                <p>We are happy to report that all tasks were completed successfully with 86% of them being direct successes. We assumed that the majority of the miss click rates were a result of limitations within the prototype (such as the inability to input data in a form box).</p>
            </details>
        </li>
    </ul>
</section>

<section class="case_studies_content_2columns"> 
    <div>
        <h2>Room for Improvement</h2>   
        <p>Here are some opportunities for improvement that we talked about upon a brief self reflection. </p>
    </div>
    <ul>
        <li>
        <details>
            <summary><h3>Meaningfull Tasks ↗</h3></summary>
            <p>Develop the ability to understand if a discovery method is suitable to answer our research questions from the get go. We spent to much time on non-meaningfull tasks.</p>
          </details>
        </li>
        <li>
            <details>
                <summary><h3>Bigger Sample ↗</h3></summary>
                <p>Expand the sample of interview and survey participants, to include all segments identified.</p>
             </details>
        </li>
        <li>
            <details>
                <summary><h3>Go Internacional ↗</h3></summary>
                <p>Expand our benchmarking analysis to include international competitors.</p>
            </details>
        </li>
    </ul>
</section>

<section>
    <h1>Thank you for your time!</h1>
</section>

</main>
</BaseLayout>