---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <main id="homepage">
    <aside>
      <div class="headline">
        <h1>Hello!<br>I’m Carolina Cipriano, a Product Designer.</h1>
        <h2>Nice to meet you!</h2>
      </div>
    </aside>

    <section id="casestudies">
      <h2>Case Studies</h2>
      <ol class="casestudies">
        <li>
          <img src="https://freight.cargo.site/t/original/i/7db74f6e02ff398756a7f347242854d2e8b93e8ea621944a66e4a5266bfdca18/FBAUL_Alumni_hub_Cover.jpg" alt="mockup of the Alumni Hub homepage on a computer screen"></img>
          <figcaption>
            <h2>FBAUL Alumni Hub</h2>
            <div class="tags">
              <p>UX Research</p>
              <p>Wireframing</p>
              <p>Website</p>
            </div>
            <div class="description">
              <p>A space dedicated to strengthening the relationship between the Faculty of Fine Arts of the University of Lisbon and their alumni.</p>
              <a class="cta" href="/posts/fbaul_alumnihub">Know More</a>
            </div>
          </figcaption>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/dfce9c3eed6d3d10127af780fcc6a117661b18c4c87999b14eed83cab825d1f4/whatsapp_stickersapp_cover.jpg" alt="Girl eating ramen looking at her phone. She's using the new AI sticker feature on WhatsApp while having a conversation with her friend."></img>
          <figcaption>
            <h2>WhatsApp AI Stickers</h2>
            <div class="tags">
              <p>Research</p>
              <p>Wireframing</p> 
              <p>Mobile App</p>
            </div>
            <div class="description">
              <p>A feature that allows users to easily send and create stickers based on their conversations and personalities.</p>
              <a class="cta" href="posts/whatsapp_aistickers/">Know More</a>
            </div>
          </figcaption>
        </li>
      </section>

      <section id="otherprojects">
      <h2>Other Projects</h2>
      <ol class="otherprojects">
        <li>
          <img src="https://freight.cargo.site/t/original/i/8c7185eed19d306db5733d2cb923da16001067eda1aeda8e82fb83827e198669/ui_challenge.jpg" alt="mockup of one of the exercises of the UI Challenge, the payment flow of a mobile app."></img>
          <figcaption>
            <a href="posts/ui_challenge/">UI Challenge</a>
          </figcaption>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/4b50a019e9f5bdf5915617ff76ab83c157d7af498d57a9727eb4a7c6996f035a/socialmedia_cover.jpg" alt="mockups of social media posts and stories"></img>
          <figcaption>
            <a href="posts/social_media_misc/">Social Media Misc</a>
          </figcaption>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/f9f01d617744c0bd24cd9a1139c2280cdaa81db01e03dbc86723a12b680634eb/bluedot.jpg" alt="mockup of two of the main pages of the project"></img>
          <figcaption>
            <a href="posts/bluedot/">Blue.Dot</a>
          </figcaption>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/23d0899b2484bc86b6a1f7647d4e86a4152ce9672455e845b8d89d00fce25292/gene.jpg" alt="mockup of one of the main pages of the project and a poster"></img>
          <figcaption>
            <a href="posts/gene/">Gene</a>
          </figcaption>
        </li>
        
      </ol>
      </section>

      <section id="misc">
      <h2>Misc</h2>
      <ol class="misc">
        <li><img src="https://freight.cargo.site/w/600/q/75/i/19553d647c8bc7c4f878c7092acbb37434db79bbe4c7209e278a12ff689f0868/Germinal-ezgif.com-optimize.gif" alt="animation of two versions of a logo done for Plataforma Germinal"></img></li>
        <li><img src="https://freight.cargo.site/w/600/q/75/i/de3f5f3c7ac65a5f4dcafaf66efd55b0fae355661e16ee68e6e32d7d1580883d/manual_1.jpg" alt="mockup of a poster done for a show."></img></li>
        <li><img src="https://freight.cargo.site/w/600/q/75/i/e7bdbc4b0e41d5637d784b6ccf4df76a244abe770972b7dd3b8e36926c5dcf9c/Moeda3d-ezgif.com-optimize.gif" alt="animation of a coin rotating"></img></li>
        <li><img src="https://freight.cargo.site/w/600/q/75/i/e0cf525b85f6ab4740b5298999faa31ecb7a1b97ad42a6b19617e33bfc895efe/AEA_1.jpg" alt="poster for a sci-fi short movie"></img></li>
        <li><img src="https://freight.cargo.site/w/600/q/75/i/c782a447fb1bf26fd3eb1a47e04d5c91a847ecf9f560a019a0e93381bce784c2/4_camera-ezgif.com-optimize.gif" alt="animation of a camera taking a picture with a bouncy effect"></img></li>
        <li><img src="https://freight.cargo.site/w/600/q/75/i/94ac4da8d8d8d9bb140a58bd5ab7e912b1ca5b5173ae2a68629b71f5323abfef/colorwheel_1.jpg" alt="mockup of a poster of the pick color tool on photoshop"></img></li>
        <li><img src="https://freight.cargo.site/w/600/q/75/i/529f51d190b374cee2a616c85557cd69f2aed30c9c8cc6b66232e415c0e0b786/serpente_ilustracao-ezgif.com-optimize.gif" alt="animation of a snake with a top hat sticking its tounge out"></img></li>
        <li><img src="https://freight.cargo.site/w/600/q/75/i/6e9c2319d89f1a4cebc3dd49d4b2dcbefa5cffb46146b9917fd3c0710439b76e/Ringtone_1.jpg" alt="mockup of a poster with the lyrics of a song."></img></li>
        <li><img src="https://freight.cargo.site/w/600/q/75/i/0060554067497598fc5b22fcd9e5fb6ef56d7fc8c18102c074f35258031ac6b7/punkrock_1.jpg" alt="mockup of a poster for a show."></img></li>
        <li><img src="https://freight.cargo.site/w/600/q/75/i/b1e62ef4745a8bf00b50252fec2e8994fed6e33cca5da1313bb7f43e37f91a9f/Tarot-ezgif.com-optimize.gif" alt="animated mockup of illustrated tarot cards."></img></li>
      </ol>
      <a class="cta" href="/misc/">See All</a>
    </section>
    </main>
</BaseLayout>