---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <main>
     <div class="headline">
        <h1>Hello!</h1>
        <h1>I’m Carolina Cipriano, a Product Designer.</h1>
        <h2>Nice to meet you!</h2>
      </div>

      <section>
      <h2>Case Studies</h2>
      <ol class="casestudies">
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
          <figcaption>
            <h2>FBAUL Alumni Hub</h2>
            <div class="tags">
              <p>UX Research</p>
              <p>Wireframing</p>
              <p>Website</p>
            </div>
            <div class="description">
              <p>A space dedicated to strengthening the relationship between the Faculty of Fine Arts of the University of Lisbon and their alumni.</p>
              <a class="cta">Know More</a>
            </div>
          </figcaption>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
          <figcaption>
            <h2>Vision Self Assessment</h2>
            <div class="tags">
              <p>UX Research</p>
              <p>Wireframing</p>
              <p>Website</p>
            </div>
            <div class="description">
              <p>A space dedicated to strengthening the relationship between the Faculty of Fine Arts of the University of Lisbon and their alumni.</p>
              <a class="cta">Know More</a>
            </div>
          </figcaption>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
          <figcaption>
            <h2>WhatsApp AI Stickers</h2>
            <div class="tags">
              <p>UX Research</p>
              <p>Wireframing</p>
              <p>Website</p>
            </div>
            <div class="description">
              <p>A space dedicated to strengthening the relationship between the Faculty of Fine Arts of the University of Lisbon and their alumni.</p>
              <a class="cta">Know More</a>
            </div>
          </figcaption>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
          <figcaption>
            <h2>Zoo Time</h2>
            <div class="tags">
              <p>UX Research</p>
              <p>Wireframing</p>
              <p>Website</p>
            </div>
            <div class="description">
              <p>A space dedicated to strengthening the relationship between the Faculty of Fine Arts of the University of Lisbon and their alumni.</p>
              <a class="cta">Know More</a>
            </div>
          </figcaption>
        </li>
      </ol>
      </section>

      <section>
      <h2>Other Projects</h2>
      <ol class="otherprojects">
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
          <figcaption>
            <p>Project Name</p>
          </figcaption>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
          <figcaption>
            <p>Project Name</p>
          </figcaption>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
          <figcaption>
            <p>Project Name</p>
          </figcaption>
        </li>
      </ol>
      </section>

      <section>
      <h2>Misc</h2>
      <ol class="misc">
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
        </li>
        <li>
          <img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img>
        </li>
      </ol>
      <a class="cta">See All</a>
    </section>
    </main>
</BaseLayout>