---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Misc";
---
<BaseLayout pageTitle={pageTitle}>
  <main>
    <h1>Misc</h1>
    <div class="tags">
        <p>UX Research</p>
        <p>Wireframing</p>
        <p>Website</p>
    </div>
    <h2>Random bits and pieces of fun exercises and small projects I have done through the years.</h2>
  
  <section>  
    <li class="misc_page_grid">
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
        <ul><img src="https://freight.cargo.site/t/original/i/2891a0ce3bee5b02645f1c57c7c560a956d22ae3dee7c8c2c3f63527b1c79b72/GENE_1.png"></img></ul>
    </li>
  </section>

  </main>
</BaseLayout>