---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import Logo from './Logo.astro'
---

<header>
    <nav>
        <Logo />
        <div>
            <Hamburger />
            <Navigation />
        </div>
    </nav>
</header>
