---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import Logo from './Logo.astro'
---

<header>
    <nav>
        <Logo />
        <Navigation />
        <Hamburger />
    </nav>
</header>
