
<div class="nav-links">
    <div class="nav-links-left">
        <a href="/">Case Studies</a>
        <a href="/about/">Other Projects</a>
        <a href="/blog/">Misc</a>
    </div>
    <div class="nav-links-right">
        <a href="/blog/">LinkedIn</a>
        <a href="/blog/">Resume</a>
    </div>
</div>