
<div class="nav-links">
    <div class="nav-links-left">
        <a href="/#casestudies">Case Studies</a>
        <a href="/#otherprojects">Other Projects</a>
        <a href="/#misc">Misc</a>
    </div>
    <div class="nav-links-right">
        <a href="/about/">About</a>
        <a href="https://www.linkedin.com/in/carolina-cipriano-design/" target="_blank">LinkedIn</a>
        <a href="https://drive.google.com/file/d/1it0GK5VlVSRkmzobajVWVUcAf0Jvomxc/view?usp=sharing" target="_blank">Resume</a>
    </div>
</div>